<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<nav th:include="navbar"/>

<div class="container">

    <h1>Connect With Us</h1>
    <h4>Call or email for a free consolation!</h4>

   <h1>210-387-9926</h1>
    <h1>contactus@wilsonhalldesigns.com</h1>

</div>

<footer th:include="footer"/>
</body>
</html>