<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<nav th:include="navbar"/>

<div class="container">

    <h1>Register Here In A Few Simple Steps</h1>
    <h3>1. Fill out the required information bellow and press the submit button</h3>
    <h3>2. Once directed to the login page, sign in with your new username and password you've created</h3>

    <form method="POST" action="register.html">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstname">

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastname">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email">

        <label for="phone">Phone:</label>
        <input type="number" id="phone" name="phone">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <button type="submit">Submit</button>

    </form>


</div>

<footer th:include="footer"/>
</body>
</html>